* {
  font-size: large;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
}

#total.container {
  display: flex;
  justify-content: space-between;
  background-color: #565656;
  width: 95%;
  padding: 2%;
  margin: 1%;
  color: #fcbfcb;
}

.product-thumb {
  background-color: #fcbfcb;
  width: 25%;
  padding: 2%;
  margin: 1%;
}

.icon {
  width: 45px;
  right: 5%;
  top: 6%;
  font-size: 0%;
  padding: 0.6em;
  border-radius: 999px;
  line-height: 0.75em;
  background: rgb(86, 86, 86);
  text-align: center;
  min-width: 2em;
  font-weight: bold;
}

.table > tbody > tr > td,
.table > tfoot > tr > td {
  vertical-align: middle;
}

.delete-button {
  width: 20px;
}

.Order-Summary {
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-color: black;
  width: 50%;
  align-content: center;
  padding: 20px;
}

.checkout-product {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.Billing-Shipping-Forms {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
}

.Billing-Shipping-Details {
  flex-grow: 2;
  display: flex;
  flex-direction: row;
  width: 50%;
}

.Billing-Shipping-Forms input {
  margin: 0 0.25rem;
  min-width: 125px;
  height: 25px;
  border: 1px solid #eee;
  border-left: 3px solid;
  border-radius: 5px;
  transition: border-color 0.5s ease-out;
}

.Billing-Shipping-Forms select {
  margin: 0 0.25rem;
  min-width: 125px;
  height: 25px;
  border: 1px solid #eee;
  border-left: 3px solid;
  border-radius: 5px;
  transition: border-color 0.5s ease-out;
}

.Billing-Shipping-Forms input:required {
  border-left-color: turquoise;
  border-left-width: 5px;
}

.Billing-Shipping-Forms input:invalid {
  border-left-color: red;
  border-left-width: 5px;
}

.Billing-Shipping-Forms select:required {
  border-left-color: turquoise;
  border-left-width: 5px;
}

.Billing-Shipping-Forms select:invalid {
  border-left-color: red;
  border-left-width: 5px;

.orderHistory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.historical-order {
  border-style: solid;
  border-width: 2px;
  border-color: #fcbfcb;
  margin: 25px;
  padding: 20px;

.item {
  position: relative;
  padding-top: 20px;
  display: inline-block;
  margin-top: -20px;
}

.item-badge {
  position: absolute;
  right: -20px;
  top: 10px;
  background: #8a8684;
  text-align: center;
  border-radius: 30px 30px 30px 30px;
  color: white;
  padding: 1px 10px;

}
